.uk-button-primary {
    background-color: #1765ad;
    text-decoration-color: white;
    color: #fff;
    border: 1px solid transparent;
    background-image: linear-gradient(135deg,#276fb3,#4cdf65);
    box-shadow: 2px 6px 15px rgb(238 37 21 / 35%);
}
.uk-button {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: #fff;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 11px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color,background-color,background-position,border-color,box-shadow;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    border-radius: 500px;
    background-origin: border-box;
}
.uk-section-primary {
    background: #276fb3;
    background-image: url(../vendor/assets/uikit-themes/master-fjord/images/section-background-image-noise.png);
    background-position-x: 50%;
}
.uk-divider-icon {
    position: relative;
    height: 8px;
    background-image: url(https://uploads-ssl.webflow.com/60dea32dddf101694364c104/612734b11657453231306d39_cn-uttr_square_blue_green.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.uk-hr, hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    text-align: inherit;
    margin: 0 0 20px 0;
    border: 0;
    border-top: 1px solid #ebebed;
}
.uk-divider-icon::before {
    right: calc(50% + (70px / 2));
    width: 100%;
}
.uk-divider-icon::after, .uk-divider-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    max-width: calc(50% - (70px / 2));
    border-bottom: 0 solid #ebebed;
}
.uk-text-center {
    text-align: center!important;
}
.uk-tile-primary {
    background-color: #ee2515;
    background-image: url(../../yootheme/vendor/assets/uikit-themes/master-fjord/images/tiles-background-image-noise.png);
}
.uk-tile {
    display: flow-root;
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.uk-grid-item-match>:not([class*=uk-width]), .uk-grid-match>*>:not([class*=uk-width]) {
    box-sizing: border-box;
    width: 100%;
    flex: auto;
}
.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.uk-text-primary {
    color: #3a56f4!important;
}

.uk-h4, h4 {
    font-size: 13px;
    line-height: 1.4;
    color: #ee2515;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.uk-link, a {
    color: #ee2515;
    text-decoration: none;
    cursor: pointer;
}
.formResponsive .formHorizontal .rsform-block {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
}

.formResponsive .formHorizontal .rsform-block {
    margin-bottom: 18px;
}
.uk-radio:checked, input[type=radio]:not([class*=uk-]):checked {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E);
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked, input[type=checkbox]:not([class*=uk-]):checked, input[type=checkbox]:not([class*=uk-]):indeterminate, input[type=radio]:not([class*=uk-]):checked {
    background-color: #ff4870;
    border-color: transparent;
}
.uk-checkbox:not(:disabled), .uk-radio:not(:disabled), input[type=checkbox]:not([class*=uk-]):not(:disabled), input[type=radio]:not([class*=uk-]):not(:disabled) {
    cursor: pointer;
}
.formResponsive .formHorizontal input[type="checkbox"], .formResponsive .formHorizontal input[type="radio"] {
    border: 1px solid #ccc;
}
.formResponsive input[type="radio"], .formResponsive input[type="checkbox"] {
    padding-left: 18px;
    margin-right: 5px;
}
.uk-fieldset, fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.yui-calendar {
    font: 100% sans-serif;
    text-align: center;
    border-spacing: 0;
    border-collapse: separate;
    position: relative;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.formResponsive input.rsform-calendar-button {
    margin-bottom: 3px;
}

.formResponsive input[type="button"], .formResponsive button[type="button"], .formResponsive input[type="submit"], .formResponsive button[type="submit"], .formResponsive input[type="reset"], .formResponsive button[type="reset"] {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
}
.tm-header, .tm-header-mobile {
    position: relative;
}
.uk-navbar-center:only-child, .uk-navbar-left, .uk-navbar-right {
    flex-wrap: wrap;
}

.uk-navbar-left, .uk-navbar-right, [class*=uk-navbar-center] {
    display: flex;
    gap: 15px;
    align-items: center;
}
.uk-navbar-toggle {
    padding: 0 0;
    color: grey;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.navbar .brand, .navbar .nav>li>a, .navbar-search, .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .25em;
    box-sizing: border-box;
    min-height: 80px;
    font-size: 11px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
.uk-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}
.uk-icon>* {
    transform: translate(0,0);
}

canvas, img, svg, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.uk-open>.uk-offcanvas-bar {
    left: 0;
}

.uk-flex-column {
    flex-direction: column;
}
.uk-flex {
    display: flex;
}
.uk-offcanvas-bar-animation {
    transition: left .3s ease-out;
}
.uk-offcanvas-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -270px;
    box-sizing: border-box;
    width: 270px;
    padding: 20px 20px;
    background: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 2px 21px 50px rgb(41 44 61 / 15%);
}
.btn-large, .uk-button-large {
    padding: 0 40px;
    line-height: 53px;
    font-size: 13px;
    border-radius: 500px;
}
.nav-default>li>a {
    color: rgb(130, 130, 130);
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color,box-shadow;
}

.uk-nav>li>a {
    padding: 5px 0;
}
.uk-nav li>a {
    display: flex;
    align-items: center;
    column-gap: 0.25em;
    text-decoration: none;
}

.uk-nav-default {
    font-size: 11px;
    line-height: 1.73;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

rect[Attributes] {
    color: #ee2515;
    width: 20;
    height: 2;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.btn:not(:disabled), .uk-button:not(:disabled) {
    cursor: pointer;
}
.uk-button {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: #fff;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 11px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color,background-color,background-position,border-color,box-shadow;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    border-radius: 500px;
    background-origin: border-box;
}
.uk-card-primary.uk-card-body .uk-button-primary, .uk-card-primary>:not([class*=uk-card-media]) .uk-button-primary, .uk-card-secondary.uk-card-body .uk-button-primary, .uk-card-secondary>:not([class*=uk-card-media]) .uk-button-primary, .uk-light .uk-button-primary, .uk-offcanvas-bar .uk-button-primary, .uk-overlay-primary .uk-button-primary, .uk-section-primary:not(.uk-preserve-color) .uk-button-primary, .uk-section-secondary:not(.uk-preserve-color) .uk-button-primary, .uk-tile-primary:not(.uk-preserve-color) .uk-button-primary, .uk-tile-secondary:not(.uk-preserve-color) .uk-button-primary {
    background-color: #fff;
    color: rgb(255, 255, 255);
}
html {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
}
.uk-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: rgb(255, 255, 255);    
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}
.uk-card-primary.uk-card-body .uk-nav-default>li.uk-active>a, .uk-card-primary>:not([class*=uk-card-media]) .uk-nav-default>li.uk-active>a, .uk-card-secondary.uk-card-body .uk-nav-default>li.uk-active>a, .uk-card-secondary>:not([class*=uk-card-media]) .uk-nav-default>li.uk-active>a, .uk-light .uk-nav-default>li.uk-active>a, .uk-offcanvas-bar .uk-nav-default>li.uk-active>a, .uk-overlay-primary .uk-nav-default>li.uk-active>a, .uk-section-primary:not(.uk-preserve-color) .uk-nav-default>li.uk-active>a, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default>li.uk-active>a, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-default>li.uk-active>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default>li.uk-active>a {
    color: #353535;
}
.uk-card-primary.uk-card-body .uk-nav-default>li>a, .uk-card-primary>:not([class*=uk-card-media]) .uk-nav-default>li>a, .uk-card-secondary.uk-card-body .uk-nav-default>li>a, .uk-card-secondary>:not([class*=uk-card-media]) .uk-nav-default>li>a, .uk-light .uk-nav-default>li>a, .uk-offcanvas-bar .uk-nav-default>li>a, .uk-overlay-primary .uk-nav-default>li>a, .uk-section-primary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default>li>a {
    color: #353535;
}
.uk-card-primary.uk-card-body .uk-nav-default>li>a:hover, .uk-card-primary>:not([class*=uk-card-media]) .uk-nav-default>li>a:hover, .uk-card-secondary.uk-card-body .uk-nav-default>li>a:hover, .uk-card-secondary>:not([class*=uk-card-media]) .uk-nav-default>li>a:hover, .uk-light .uk-nav-default>li>a:hover, .uk-offcanvas-bar .uk-nav-default>li>a:hover, .uk-overlay-primary .uk-nav-default>li>a:hover, .uk-section-primary:not(.uk-preserve-color) .uk-nav-default>li>a:hover, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default>li>a:hover, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-default>li>a:hover, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default>li>a:hover {
    color: #353535;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
}
.uk-navbar-toggle-icon{
    color: #000000;
}
.uk-navbar{
    font-family:Raleway;
}
.uk-nav-default {
    font-size: 11px;
    line-height: 1.73;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.uk-button-text{
    font-family: Raleway;
}
.uk-card-primary.uk-card-body .uk-nav-default>li>a, .uk-card-primary>:not([class*=uk-card-media]) .uk-nav-default>li>a, .uk-card-secondary.uk-card-body .uk-nav-default>li>a, .uk-card-secondary>:not([class*=uk-card-media]) .uk-nav-default>li>a, .uk-light .uk-nav-default>li>a, .uk-offcanvas-bar .uk-nav-default>li>a, .uk-overlay-primary .uk-nav-default>li>a, .uk-section-primary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default>li>a {
    color: #353535;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.uk-card-primary.uk-card-body .uk-close:hover, .uk-card-primary>:not([class*=uk-card-media]) .uk-close:hover, .uk-card-secondary.uk-card-body .uk-close:hover, .uk-card-secondary>:not([class*=uk-card-media]) .uk-close:hover, .uk-light .uk-close:hover, .uk-offcanvas-bar .uk-close:hover, .uk-overlay-primary .uk-close:hover, .uk-section-primary:not(.uk-preserve-color) .uk-close:hover, .uk-section-secondary:not(.uk-preserve-color) .uk-close:hover, .uk-tile-primary:not(.uk-preserve-color) .uk-close:hover, .uk-tile-secondary:not(.uk-preserve-color) .uk-close:hover {
    color: #353535;
}
.uk-card-primary.uk-card-body .uk-close, .uk-card-primary > :not([class*="uk-card-media"]) .uk-close, .uk-card-secondary.uk-card-body .uk-close, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-close, .uk-light .uk-close, .uk-offcanvas-bar .uk-close, .uk-overlay-primary .uk-close, .uk-section-primary:not(.uk-preserve-color) .uk-close, .uk-section-secondary:not(.uk-preserve-color) .uk-close, .uk-tile-primary:not(.uk-preserve-color) .uk-close, .uk-tile-secondary:not(.uk-preserve-color) .uk-close {
    color: #353535;
}
.padding-left{
    color:#276fb3
}
.onzichtbaar {
    display: none;
  }
  